includes:
    - phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src
        - tests

    # The level 9 is the highest level
    level: 9

    ignoreErrors:

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
